/* Place your CSS styles in this file */
* {
    text-decoration: none;
}

body {
    background-image: url("1.jpg");
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: pink;
    font-style: italic;
}
  
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: Red;
